.todoListItems{
    margin-top: 1em;
}
.todoListItems li{
    width: 100%;
    height: 3em;
    line-height: 3em;
    vertical-align: middle;
    padding-left: 1em;
    /* padding-right: 1em; */
    box-sizing: border-box;
    clear: both;
    background: #666;
    color: #DDD;
    cursor: pointer;
}
.todoListItems li:hover{
    font-weight: bold;
    color: #FFF;
}
.todoListItems li:nth-child(2n){
    background: #777;
}
.completed{
    text-decoration: line-through;
    color: #999;
}

.removeTodo{
    display: inline-block;
    float: right;
    width: 2em;
    text-align: center;
    /* vertical-align: middle; */
    /* line-height: 3em; */
    /* border: 1px solid orange; */
    box-sizing: border-box;
}
.removeTodo:hover{
    cursor: pointer;
}
.removeTodo i{
    color: #FF7E7E;
}
.removeTodo:hover i{
    color: #FF5E5E;
}
.total{
    line-height: 3em;
}
