.addTodo{
    position: relative;
    line-height: 6em;
    vertical-align: middle;
}
.addTodo>input{
    width: 98%;
    height: 3em;
    /* border: 1px solid aquamarine; */
    outline: aquamarine;
}
.addTodo>input:focus{
    border: 1px solid aquamarine;
}

.btnAdd{
    display: inline-block;
    position: absolute;
    top: 0; right: 0;
    width: 4em;
    height: 4em;
    line-height: 4em;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5em;
    margin-left: -3em;
    border-radius: 100%;
    background: aquamarine;
    border: none;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
}
.btnAdd:focus, .btnAdd:hover{
    box-shadow: 2px 2px 5px 4px #7FDDC4;
}
