.todoButtons{
    float: right;
}
.editTodo, .removeTodo{
    display: inline-block;
    width: 2em;
    text-align: center;
    box-sizing: border-box;
}
.editTodo{
    float: left;
}
.removeTodo{
    float: right;
}
.editTodo:hover, .removeTodo:hover{
    cursor: pointer;
}
.removeTodo i{
    color: #FF7E7E;
}
.removeTodo:hover i{
    color: #FF5E5E;
}
.editTodo i{
    color: #7FFFD4;
}
.editTodo:hover i{
    color: #7FFFD4;
}
.total{
    line-height: 3em;
}
.div {
    font-family: 'Indie Flower', cursive;
}
