<!-- <div *ngIf="loggedIn">Welcome</div>
<div *ngIf="!loggedIn">Plese, log in first.</div> -->

<!-- <div *ngIf="loggedIn;then Welcome else Login">here is ignored</div>
<ng-template #Welcome="">Welcome</ng-template>
<ng-template #Login="">Please, log in first.</ng-template> -->

<!-- <div *ngIf="loggedIn;then Welcome else Login">here is ignored</div>
<div #Welcome="">Welcome</div>
<div #Login="">Please, log in first.</div> -->

<!-- <input type="text" name="userName" id="userName"> -->


<!-- <div [ngClass]="'error'">Test div</div> -->

<!-- <div [ngClass]="{
    'odd': x%2,
    'even': x%2===0,
    'button':true
}">Test div</div>
<hr>
<div appChangeContent></div> -->

<!-- <div>{{userName | uppercase}}</div>

<div>{{number | percent}}</div>

<p>Current year: {{now | date: 'yyyy'}}</p>
<p>Current time: {{now | date: 'HH:MM:SS'}}</p>
<hr>
<h2>Custom pipes: {{ 'quote' | fancyQuote }}</h2> -->

<!-- one-way-binding| -->
<!-- <div>
    user name: <input #uName type="text" [value]="userName" (keyup.enter)="userName=uName.value">
    <div class="output">{{userName}}</div>
</div> -->

<!-- tw0-way-binding -->
<div>
    user name: <input #uName type="text" [value]="userName" 
    [(ngModel)]="userName">
    <div class="output">{{userName}}</div>
</div>    